@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
button {
  outline: 0;
}
header {
  color: white;
  background-color: #c2185b;

  text-align: center;
  padding: 15px;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
}
.btn-option {
  font-weight: 100;
  color: white;
  background-color: #c2185b;
  border: none;
  cursor: pointer;
  padding: 15px;
}
.btn-option:hover {
  background-color: #e26094cb;
  padding: 15px;
  border-radius: 5px;
}
.btn-option .fas,
.far {
  color: white;
}
body {
  background-color: #e91e63;

  display: flex;
}
main {
  width: 75%;
}
.section-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gen-box {
  margin: 20px;
}
#top-text,
#bottom-text {
  background-color: white;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 35px 50px;
  cursor: text;
}
#meme-url {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  height: 300px;
  background-color: black;
  position: relative;
}
.btn-download {
  font-weight: 100;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}
.btn-download:hover {
  background-color: #347a37ec;
}
.sidebar {
  color: white;
  background-color: #d81b60;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 5px;
  width: 25%;
}
.close-panel {
  background-color: #d81b60;
  border: none;
  font-size: 2em;
  text-align: left;

  position: fixed;
  top: 15px;
  right: 15px;
  border-radius: 3px;
  cursor: pointer;
}
.img-configs {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 5px;
}
input:url {
}
