@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
.m-right-li {
  margin-right: 10px;
}
.fondo-width {
  width: 100%;
}
/*LIGHT MODE*/
body.light {
  --color-header: #dfdfdf;
  --color-background: #d1afc9;
  --color-panel: #e7e6e1;
  --color-boton-default: #dfdfdf;
  --color-boton-default-hover: #ccf2f4;
  --color-text: gray;
  --font-primary: "Open Sans", sans-serif;
  --border-radius: 3px;
}
/*DARK MODE*/
body.dark {
  --color-header: #151515;
  --color-background: #3c415c;
  --color-panel: #252935;
  --color-boton-default: #151515;
  --color-boton-default-hover: #ccf2f4;
  --color-text: white;
  --font-primary: "Open Sans", sans-serif;
  --border-radius: 3px;
}
button {
  outline: 0;
}
header {
  color: var(--color-text);
  background-color: var(--color-header);
  text-align: center;
  padding: 5px;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
}
.btn-option {
  color: var(--color-text);
  font-weight: 100;
  background-color: var(--color-boton-default);
  border: none;
  cursor: pointer;
  padding: 15px;
}
.btn-option:hover {
  background-color: var(--color-boton-default-hover);
  padding: 15px;
  border-radius: 5px;
}
.btn-option .fas,
.far {
  color: white;
}
/*MAIN BOX*/
body {
  background-color: var(--color-background);
  font-family: sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.generator {
  width: 50%;
  text-align: center;
}
#top-text,
#bottom-text {
  background-color: white;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 35px 50px;
  cursor: text;
}
#meme-url {
  width: 100%;
  height: 350px;
  background-color: black;
  position: relative;
} /*
.blen-options {
  background-blend-mode: none;
}*/
.btn-download {
  font-weight: 100;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  margin: 20px;
}
.btn-download:hover {
  background-color: #347a37ec;
}
/*DIVS*/
.divwidth {
  width: 100%;
}
.divrow {
  display: flex;
  flex-direction: row;
}
.divcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*SIDEBAR PANEL*/
#panel {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  color: var(--color-text);
  background-color: var(--color-panel);
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
}
.ocultar {
  display: none;
}
.close-panel {
  background-color: #e7e6e1;
  border: none;
  font-size: 2em;
  text-align: left;

  position: fixed;
  top: 15px;
  right: 15px;
  border-radius: 3px;
  cursor: pointer;
}
/*SETTINGS*/
.configs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.sidebar-input {
  width: 100%;
  height: auto;
  background-color: #d1afc9;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.filtersAll {
  width: 100%;
}
.fondo-width {
  width: 100%;
}
input[type="range"] {
  width: 100%;
  background-color: gray;
  border-radius: 10px;
  appearance: none;
  height: 6px;
  margin-top: 10px;
}
