@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
.m-right-li {
  margin-right: 10px;
}
.m-top-lil {
  margin-top: 20px;
}
.fondo-width {
  width: 100%;
}
/*LIGHT MODE*/
body.light {
  --color-header: #dfdfdf;
  --color-background: #e3f7f8;
  --color-panel: #e7e6e1;
  --color-boton-default: #dfdfdf;
  --color-boton-default-hover: #cacaca;
  --color-text: rgb(93, 93, 93);
  --font-primary: "Open Sans", sans-serif;
  --border-radius: 3px;
  --color-close-btn: #e7e6e1;
  --sidebar-input-color: #cacaca;
}
/*DARK MODE*/
body.dark {
  --color-header: #151515;
  --color-background: #3c415c;
  --color-panel: #252935;
  --color-boton-default: #151515;
  --color-boton-default-hover: #e3f7f8;
  --color-text: white;
  --color-text-hover-btn: #151515;
  --font-primary: "Open Sans", sans-serif;
  --border-radius: 3px;
  --color-close-btn: #252935;
  --sidebar-input-color: #e3f7f8;
}
button {
  outline: 0;
}
header {
  color: var(--color-text);
  background-color: var(--color-header);
  text-align: center;
  padding: 5px;
}
h1 {
  text-align: center;
  margin-bottom: 5px;
}
h3 {
  text-align: center;
}
.btn-option {
  color: var(--color-text);
  font-weight: 100;
  background-color: var(--color-boton-default);
  border: none;
  cursor: pointer;
  padding: 15px;
}
.btn-option:hover {
  background-color: var(--color-boton-default-hover);
  color: var(--color-text-hover-btn);
  padding: 15px;
  border-radius: 5px;
}
.btn-option .fas,
.far:hover {
  color: var(--color-text-hover-btn);
}
.btn-option .fas,
.far {
  color: var(--color-text);
}
/*MAIN BOX*/
body {
  background-color: var(--color-background);
  font-family: sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.generator {
  width: 100%;
  max-width: 610px;
  height: 610px;
  background-color: black;
  position: relative;
}
#top-text,
#bottom-text {
  width: 100%;
  background-color: white;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 35px 50px;
  cursor: text;
  word-wrap: break-word;
}
#meme-url {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
} /*
.blen-options {
  background-blend-mode: none;
}*/
.btn-download {
  font-weight: 100;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  margin: 20px;
}
.btn-download:hover {
  background-color: #347a37ec;
}
/*DIVS*/
.divwidth {
  width: 100%;
}
.divrow {
  display: flex;
  flex-direction: row;
}
.divrow-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.divcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divcol-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/*SIDEBAR PANEL*/
#panel {
  overflow: auto;

  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  color: var(--color-text);
  background-color: var(--color-panel);
  padding: 10px 15px;
  height: 100%;
  width: 270px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.ocultar {
  display: none;
}
.close-panel {
  background-color: var(--color-close-btn);
  border: none;
  font-size: 2em;
  text-align: left;

  position: fixed;
  top: 15px;
  right: 15px;
  border-radius: 3px;
  cursor: pointer;
}
/*SETTINGS*/

.sidebar-input {
  width: 100%;
  height: auto;
  background-color: var(--sidebar-input-color);
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s;
  padding: 5px 10px;
  margin-bottom: 5px;
}
input[type="text"],
[type="number"] {
  border: none;
  outline: none;
  word-wrap: break-word;
}
.filtersAll {
  width: 100%;
}
.fondo-width {
  width: 100%;
}
input[type="range"] {
  width: 100%;
  background-color: gray;
  border-radius: 10px;
  appearance: none;
  height: 6px;
  margin-top: 10px;
}
.texto-borde-light {
  -webkit-text-stroke: 2px white;
}
.texto-borde-dark {
  -webkit-text-stroke: 2px black;
}
/*RESPONSIVE*/
@media (min-width: 1300px) {
  #panel {
    display: block;
    box-shadow: none;
  }
  .close-panel {
    display: none;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 26px;
  }
  #panel {
    width: 100%;
  }
}
